<html>
<head>
<title>Signing up Successful</title>
<meta http-equiv="refresh" content="3;url=http://localhost:<%= port %>/" />
</head>

<body>
<h1 align="center">Welcome to Facebook Community</h1><br>
</body>

</html>